user-service/src/main/resources/users.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.com/userservice/soap"
           targetNamespace="http://example.com/userservice/soap" elementFormDefault="qualified">

    <xs:element name="getUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:userSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="userSoap">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="fullName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
